$primary: #122441;
$secondary: #CD424B;
$danger: #CD424B;

//cards

$card-border-radius: 3rem 1rem 3rem 1rem;

// Navbar

$navbar-dark-hover-color: #D76A71;
$navbar-dark-active-color: #D76A71;

// Remove default shadow

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 2px;